$colorBorder: lightGray;

#cart_main {
    margin-top: 110px;
    width: 100%;
    max-width: 700px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 60px;
}

.cart_cell_conteneur {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.cart_cells_text {
    font-size: 0.8rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    height: 50px;
    vertical-align: middle;
    line-height: 50px;
}

.centerOption {
    line-height: 25px;
}

.option {
    font-style: italic;
    font-size: 0.7rem;
    color: gray;
}

.cart_cell_product {
    width: 200px;
    border: 1px solid $colorBorder;
    border-left: 2px solid $colorBorder;
}
.cart_cell_price {
    width: 100px;
    border: 1px solid $colorBorder;
    border-right: 2px solid $colorBorder;
}
.cart_cell_delete {
    width: 50px;
}

.bold {
    font-weight: bold;
}

.delete_product {
    width: 13px;
    height: 13px;
}

// form



